* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    
}
body{
    background-color: #c8c197;
}

/* NAVBAR */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(230, 220, 131);
    z-index: 99;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}

/* FUNNY ANIMATED TRANSITION */



.transition{
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

/* BODY */

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header img{
    width: 100%;
}
.header p{
    text-align: right;
    justify-self: center;
    align-self: center;
    font-size: 50px;
}

/* Cards */

.cardContainer{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 50px;
    width: auto;
    height: auto;
    margin: 2rem;
}
.card{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #fff932;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card img{
    width: 90%;
    border-radius: 13px;
    margin: 20px 0;
    justify-self: center;
}
.card p{
    color: black;
    font-size: 20px;
    text-align: center; 
    margin: 10px;
}