*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
}
/* NAV STYLING */
nav{
    position: fixed;
    top:0;
    display:flex;
    width:100%;
    justify-content: center;
    background-image: linear-gradient(to top right, black 20%, rgb(37, 37, 37) 100%);
    z-index: 999;
}
nav ul{
    width:100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    padding: 1rem;
    margin:0;
}
nav a{
    color:whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}
/* MAIN STYLING */
header{
    display: flex;
    flex-direction: column;
    height: 90vh;
    top: 0;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0 0 2rem 0;
    margin: 0;
    color: whitesmoke;
    font-size: 4.2rem;
    font-weight: 400;
}
.headerSub{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem 2rem 2rem;
    color: gray;
}
.backgroundImg{
    height: 100%;
    overflow:hidden;
    filter:brightness(30%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.captionText{
    bottom: 0;
    left: 0;
}
