*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
}
body{
    margin-top: 60px;
}
/* NAV STYLING */
nav{
    position: fixed;
    top:0;
    display:flex;
    width:100%;
    justify-content: center;
    background-image: linear-gradient(to top right, black 20%, rgb(37, 37, 37) 100%);
    z-index: 999;
}
nav ul{
    width:100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin:0;
}
nav a{
    color:whitesmoke;
    font-size: 2.4vw;
    text-decoration: none;
}
/* MAIN STYLING */
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 7vw;
    font-weight: 400;
}
.headerSub{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem 2rem 2rem;
    color: blanchedalmond;
    font-size: 2vw;
}
.backgroundImg{
    height: 100%;
    width: 100%;
    overflow: hidden;
    filter:brightness(30%);
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    display: none;
}

/* VISUALIZATION SECTION */
.visHeader{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 700;
}
.visAmount{
    font-size: 10vw;
    margin-top: 100px;
    text-align: center;
}
/* ABOUT SECTION */
img{
    float: right;
    display: block;
    width: 30vw;
    top: 0;
    right: 0;
}
h1{
    font-size: 3vw;
    margin: 0vh 0 2vw 2vw;
}
p{
    font-size: 1.1vw;
    line-height: 2vw;
    margin: 0 0 3vh 3.5vw;
}
iframe{
    width: 50vw;
    height: 50vh;
    margin: 2rem;
}
@media screen and (max-width: 600px){
    h1{
        font-size: 5vw;
        margin: 0vh 0 2vw 2vw;
    }
    p{
        font-size: 2.2vw;
        line-height: 3vw;
        margin: 0 0 6vw 3.5vw;
    }
}