*{
    margin: 0;
    padding: 0;
}
nav{
    position: sticky;
    top:0;
    display:flex;
    width:100%;
    justify-content: center;
    background-image: linear-gradient(to top right, black 20%, rgb(37, 37, 37) 100%);
}
nav ul{
    width:100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    padding: 1rem;
    margin:0;
}
nav a{
    color:whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}