*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* MAIN SECTION */
.hero{
    background:#000;
    background: linear-gradient(to right, #212125, #000);
    padding:200px 0;
}
.hero_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding:30px;
}
.hero_heading{
    font-size: 100px;
    margin-bottom:1.5rem;
    color:#fff;
}
.hero_description{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    background-size:100%;
    background: #ff0000;
    background: -webkit-linear-gradient(
        to right, #b35dff, #000000
    );
    background: linear-gradient(
        to top right, rgb(40, 15, 82), rgb(5, 97, 218)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width:750){
    .hero_heading{
        font-size: 60px;
    }
    .hero_description{
        font-size: 40px;
    }
}

/* Navbar Section Styling */
.navbar{
    background:#212125;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding:0%;
}
.navbar_container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width:1300px;
    margin: 0 auto;
    padding: 0 50px 0 25px;
}
#navbar_logo{
    background-color:aquamarine;
    background-image: linear-gradient(
        to top right, aquamarine, aliceblue
    );
    background-size:100%;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin:0;
}
.navbar_item{
    height:1.2rem;
}
.navbar_links{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all .3s ease;
}
.navbar_btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.navbar_links:hover{
    color:#00ff88;
    transition: all .4s ease;
}
.highlight{
    border-bottom: 4px solid #00ff88;
}
.button{
    display: flex;
    justify-content: center;
    align-items: cetner;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    color:#fff;
    background: linear-gradient(to bottom left, #1cf127, rgb(42, 248, 203))
}

@media screen and (max-width: 1100px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1100px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -160px;
        opacity: 1;
        transform: all .3s ease;
        z-index: -1;
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 60vh;
        font: 1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_item{
    WIDTH: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 80%; 
        height: 80%;
        margin: 0;
    }

    /* handling classes and formatting for js inclusions */

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px; 
        margin: 5px auto; 
        transition: all .3s ease-in-out; 
        display: block; 
        cursor: pointer; 
        background-color: #Fff
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Footer section CSS */
.footer_container{
    background-color:#212125;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-logo{
    color:#fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.footer_links{
    max-width:1000px;
    display:flex;
    justify-content: center;
}
.footer_link-wrapper{
    display:flex;
}
.footer_link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
    text-align:left;
    width: 15rem;
    box-sizing: border-box;
}
.footer_link-items h2{
    margin-bottom: 1rem;
    color: #fff;
}
.footer_link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: .5s ease-out;
}
.footer_link-items a:hover{
    transition: .5s ease-out;
    color:#000;
}
.social_icon-link{
    color:#fff;
    font-size: 1.5rem;
}
.social_media{
    width: 100%; 
    max-width: 1000px;
}
.social_media-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.social_icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.social_icon a:hover{
    transition: .5s ease-out;
    color: #ff0000;
    transform: scale(2);
}
.website_rights{
    color:#fff;
    margin: 8px 0 8px;
}

@media screen and (max-width:900px) {
    .footer_links{
        margin-top: 2rem;
    }
    #footer_logo{
        margin-bottom: 2rem;
    }
    .website_rights{
        margin-bottom: 2rem;
    }
    .footer_link-wrapper{
        flex-direction: column;
    }
    .social_media-wrapper{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .footer_link-items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* Service Section CSS (cards)*/
.services{
    background:#212125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to bottom right, #133e8f , #00ff88 );
    background-clip: text;
    -webkit-background-clip: text; 
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}
.services_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.services_card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to bottom left, rgb(80, 201, 174), rgb(20, 27,235));
    transition: .4s ease-in-out;
}
.services_card:nth-child(2){
    color: #fff;
    background-image: linear-gradient(to left, rgb(62, 184, 58), rgb(6, 125, 146));
}
.services_card:nth-child(3){
    color: #fff;
    background-image: linear-gradient(to bottom right, rgb(156, 48, 138), rgb(78, 119, 233), rgb(156, 48, 138));
}
.services_card:last-child{
    color: #fff;
    background-image: linear-gradient(to right, rgb(0, 255, 200), rgb(82, 26, 211));
}
.services_card h2{
    text-align: center;
}
.services_card p{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 20px;
}
.services_btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.services_btn button{
    color: white;
    padding: 14px 24px 14px 24px;
    border:none;
    border-radius: 6px;
    background: #000;
    font-size: 1rem;
}
.services_card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s ease-in-out;
}
@media screen and (max-width:1300px){
    .services_wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:750px){
    .services_wrapper{
        grid-template-columns: 1fr;
    }
}

/* About Section CSS */
.main{
    background-color: #212125;
    padding: 10rem 0 10rem 0;
}
.main_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px 0 50px;
}
.main_content{
    color: aliceblue;
    width: 100%;
}
.main_content h1{
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(
        to top, rgb(40, 228, 241), rgb(189, 73, 235)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.main_content h2{
    font-size: 4rem;
    background: peachpuff;
    background: linear-gradient(
        to top right, rgb(95, 243, 108), rgb(5, 97, 218)
    );
    background-size:100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main_content p{
    margin-top: 1re;
    font-size: 2rem;
    font-weight: 700;
}
.main_img-container{
    text-align:center;
}
.main_img-card{
    margin: 10px;
    height: 450px;
    width: 450px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    background-image: linear-gradient( to bottom right, #ff6a6a, #55e8f3, #ff6a6a)
}
.fa-layer-group, .fa-users{
    font-size: 14rem;
}
.main_btn{
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #000, #fff);
    background: linear-gradient(to bottom left, #1cf127, rgb(42, 248, 203));
    padding: 20px 60px 20px 60px;
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
}
.main_btn a{
    position:relative;
    z-index: 2;
    color: aliceblue;
    text-decoration: none;
}
.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: blue;
    transition: all .35s;
    border-radius: 6px;
}
.main_btn:hover{
    color: #fff;
}
.main_btn:hover:after{
    width:100%;
}

@media screen and (max-width: 1300px){
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto 0 auto;
        height: 90%;
    }
    .main_img-container{
        /*  */
        display: flex;
        justify-content: center;
    }
    .main_img-card{
        height: 350px;
        width: 350px;
    }
    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main_content h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .main_content h2{
        font-size: 2.5rem;
    }
    .main_content p{
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .main_img-card{
        width: 250px;
        height: 250px;
    }
    .main_content h1{
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .main_content h2{
        font-size: 2rem;
    }
    .main_content p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .fa-users, .fa-layer-group{
        font-size: 6rem;
    }
}