body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* NAV SECTION */

nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #0093c9;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 50%;
}

.logo p {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.logo img {
    height: 4rem;
    padding: 10px;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

nav li {
    padding-right: 2rem;
    margin: 0;
    font-weight: 700;
}

nav a {
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .logo p {
        font-size: 1.2rem;
    }

    .logo img {
        height: 3rem;
    }

    nav li {
        padding-right: 20px;
    }

    nav a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        width: 100%;
    }

    nav ul {
        justify-content: center;
    }

    nav li {
        padding-left: 8px;
        padding-right: 8px;
    }

    nav a {
        font-size: 0.9rem;
    }

}

/* MAIN SECTION */

.index-main {
    max-width: 1000px;
    padding: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

main section {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

main p {
    line-height: 1.8;
}

main ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

main li {
    line-height: 1.5;
}

/* what we do SECTION */

.wwd-main {
    padding: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.wwd-card-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;

}

.wwd-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #002856;
    flex-direction: row;
    margin-bottom: 50px;
    max-width: 100%;
    justify-content: space-between;
}

.wwd-card img {
    display: inline;
    width: 10%;
    padding: 10px;
}

.wwd-card-content {
    color: white;
    font-size: 2rem;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .wwd-card-content {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .wwd-card-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .wwd-card-content {
        font-size: 0.8rem;
    }
}

/* BPA SECTION */

.bpa-card-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
}

.bpa-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;


}

.bpa-card img {
    max-width: 100%;
    width: auto;
    padding: 10px;
}

.bpa-card video {
    max-width: 100%;
    width: auto;
    padding: 10px;
}

.bpa-card:nth-child(2n+1) {
    background-color: #0093c9;
}

.bpa-card:nth-child(2n+2) {
    background-color: #80bc00;
}

.bpa-card-content {
    color: white;
    font-size: 2rem;
    padding: 15px;
}

.bpa-main {
    padding: 2%;
    margin-right: 15%;
    margin-left: 15%;
}

@media screen and (max-width: 800px) {
    .bpa-card-content {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .bpa-card-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .bpa-card-content {
        font-size: 0.8rem;
    }
}

/* FOOTER SECTION */

footer {
    background-color: #002856;
}