/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
}

/* Header Styles */

nav {
    position: fixed;
    width: auto;
    z-index: 999;
    overflow-x: hidden;
    background-color: #68d3fd;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
}
nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    transition: 0.5s;
}
nav li {
    width: auto;
    margin-top: 40px;
}
nav li a {
    text-align: center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    
}

/* Main Content Styles */
main {
    max-width: 1000px;
    padding: 2%;
    margin-right: 10%;
    margin-left: 6rem;
}

section {
    display:flex;
    flex-direction:column;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    line-height: 1.5;
}

.banner {
    background-color: rgb(134, 225, 253);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

button {
    background-color: #68d3fd;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #adfdfd;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #212125;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

form button[type="submit"] {
    background-color: #333;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button[type="submit"]:hover {
    background-color: #212125;
}

/* Footer Styles */
footer {
    background-color: #37a7d3;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
}
footer a{
    margin: 10px;
    text-decoration: none;
    color:#212125;
}