* {
    color: white;
    /* background-color: black; */
}
body {
    background-color: black;
}
.card {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(95, 111, 167);
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.cardImg {
    display: flex;
    height: auto;
}

.cardImg img {
    border-radius: 20px;
    height: 150px;
    margin: 5px 10px 5px 5px;
}

.cardText {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
}

.cardText .cardHeader {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 0;
}

.cardText .cardParagraph {
    padding: 0 0 5px 5px;
    font-size: 1rem;
    margin: 0;
}
.cardContainer{
    display: flex;
    flex-direction: column;
}
.cardButton{
    display: flex;
    align-items: last baseline;
    margin: 10px;
    
}
.cardButton button{
    white-space: nowrap;
    background-color: blue;
    width: 100%;
}