<html lang = "en">
    <head>
        <!--THIS IS THE HEADER-->
        <meta charset="UTF-8">
        <meta name="viewport" content=""width=device-width, initial-scale="1.0">
        <title>
            Website
        </title>
    </head>

    <body>
        <header>
            <!--<a href="#"><img src="#"></a>-->
            <h1>I just wanna rock</h1>
            <h2>body-ody-ahhh</h2>
        </header>

        <nav>
        <a href="#">Home</a>&emsp;
        <a href="#">Page 2</a>&emsp;
        <a href="#">Page 3</a>&emsp;
        <a href="#">Page 4</a>&emsp;
        <a href="#">Page 5</a>&emsp;
        </nav>

        <main>
            <p>Something about morbius</p>
            <p>Something about fortnite</p>
            <p>something about goku</p>
        </main>

        <footer>
            © Copyright 20XX. All Rights Reserved. <br>
            <a href="#">generic@gmail.com</a>

        </footer>
    </body>
</html>