* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
}

h1 {
    font-size: 2rem;
    text-decoration: none;
    color: azure;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

p {
    font-size: 1rem;
    text-decoration: none;
    color: azure;
    word-wrap: break-word;
    width: 70%;
    text-align: justify;
    display: block;
    margin: auto; 
    padding-bottom: 50px;
}

html {
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;

}

/* NAVBAR */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}

/* MAIN */

section {
    scroll-margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}

/* MAP */

#Map {
    height: 624px;
    width: 700px;
    margin: 0 auto;
}

/* CARDS */

.card {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(95, 111, 167);
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.cardImg {
    display: flex;
    height: auto;
}

.cardImg img {
    border-radius: 20px;
    height: 150px;
    margin: 5px 10px 5px 5px;
}

.cardText {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
}

.cardText .cardHeader {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 0;
}

.cardText .cardParagraph {
    padding: 0 0 5px 5px;
    font-size: 1rem;
    margin: 0;
}
.cardContainer{
    display: flex;
    flex-direction: column;
}
.cardButton{
    display: flex;
    align-items: last baseline;
    margin: 10px;
    
}
.cardButton button{
    white-space: nowrap;
    background-color: blue;
    width: 100%;
}

/*  */


/* Carousel */

.slideshowContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slides {
    width: 80%;

}

img {
    width: 100.2%;
}

/* FOOTER */

.footer__container {
    background-color: rgb(32, 32, 32);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    text-align: left;
    width: 10rem;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 1rem;
    color: aliceblue;
}

.footer__link--items a {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: .5rem;
    transition: .5s ease-out;
}

.footer__link--items a:hover {
    transition: .5s ease-out;
    color: #73d5fc;
}

.social__icon--link {
    color: aliceblue;
    font-size: 1.5rem;
}

.social__media {
    width: 100%;
    max-width: 1000px;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__icons a:hover {
    transition: .5s ease-out;
    color: #73d5fc;
    transform: scale(1.5);
}

.website__rights {
    color: aliceblue;
}

@media screen and (max-width:900px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width:40px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}