*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(22, 22, 22);
}

/* NAVBAR */

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
    z-index: 999;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}

/* Carousel */
.slideshowContainer{
    width: 100%;
    display: flex;

    justify-content: center;
}
.slides{
    width: 80%;
    
}
img{
    width: 100.2%;
}
